In [2]:
import pandas as pd

In [2]:
data = {
    "a":[1,2,3,4],
    "b":[4,5,6,7],
    "c":["Avi", "Abhi", "Raj","Taj"]
}

In [5]:
df= pd.DataFrame(data)

In [10]:
df.reset_index("c",inplace =True)

In [11]:
df

      c  a  b
0   Avi  1  4
1  Abhi  2  5
2   Raj  3  6
3   Taj  4  7

In [12]:
data = {
    "a":[1,2,3,4],
    "b":[4,5,6,7],
    "c":["Avi", "Abhi", "Raj","Taj"]
}
df1 = pd.DataFrame(data, index=["a","b","c","d"])
df1

   a  b     c
a  1  4   Avi
b  2  5  Abhi
c  3  6   Raj
d  4  7   Taj

In [13]:
df1.reindex(["b", "c", "a", "d"])

   a  b     c
b  2  5  Abhi
c  3  6   Raj
a  1  4   Avi
d  4  7   Taj

In [16]:
for i in df1.iterrows():
    print(i)

('a', a      1
b      4
c    Avi
Name: a, dtype: object)
('b', a       2
b       5
c    Abhi
Name: b, dtype: object)
('c', a      3
b      6
c    Raj
Name: c, dtype: object)
('d', a      4
b      7
c    Taj
Name: d, dtype: object)

In [17]:
for i in df1.iteritems():
    print(i)

('a', a    1
b    2
c    3
d    4
Name: a, dtype: int64)
('b', a    4
b    5
c    6
d    7
Name: b, dtype: int64)
('c', a     Avi
b    Abhi
c     Raj
d     Taj
Name: c, dtype: object)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3056\549805685.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i in df1.iteritems():

In [22]:
# Summation operation
def test(x):
    return x.sum()
df1.apply(test, axis=0)

a               10
b               22
c    AviAbhiRajTaj
dtype: object

In [23]:
df2 = df1[["a","b"]]

In [24]:
df2

   a  b
a  1  4
b  2  5
c  3  6
d  4  7

In [25]:
# squaring whole Dataframe
df2.applymap(lambda x: x**2)

    a   b
a   1  16
b   4  25
c   9  36
d  16  49

In [28]:
# sorting operation
df1.sort_values("a")

   a  b     c
a  1  4   Avi
b  2  5  Abhi
c  3  6   Raj
d  4  7   Taj

In [33]:
# sorting based on index
df1.sort_index(ascending=False)

   a  b     c
d  4  7   Taj
c  3  6   Raj
b  2  5  Abhi
a  1  4   Avi

In [3]:
df3 = pd.DataFrame({"desc":["Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science industry including cloud infrastructure and real-time industry projects","My name is Abhijit Rajkumar", "I am learning Data Science"]})

In [6]:
pd.set_option("display.max_colwidth", 1000)
df3

,desc,char_len_data
0,"Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science industry including cloud infrastructure and real-time industry projects",718
1,My name is Abhijit Rajkumar,27
2,I am learning Data Science,26

In [7]:
df3["char_len_data"] = df3["desc"].apply(len)

In [8]:
df3

,desc,char_len_data
0,"Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science industry including cloud infrastructure and real-time industry projects",718
1,My name is Abhijit Rajkumar,27
2,I am learning Data Science,26

In [9]:
# Word count
df3["desc"][2].split()

['I', 'am', 'learning', 'Data', 'Science']

In [10]:
len(df3["desc"][2].split())

5

In [11]:
df3["word_count"] = df3["desc"].apply(lambda x : len(x.split()))
df3

,desc,char_len_data,word_count
0,"Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science industry including cloud infrastructure and real-time industry projects",718,96
1,My name is Abhijit Rajkumar,27,5
2,I am learning Data Science,26,5

,desc,char_len_data,word_count
0,"Data Science Masters course is highly curated and uniquely designed according to the latest industry standards. This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets. This trending program provides students with the statistical, mathematical and computational skills needed to meet the large-scale data science challenges of today's professional world. You will learn all the stack required to work in data science industry including cloud infrastructure and real-time industry projects",718,96
1,My name is Abhijit Rajkumar,27,5
2,I am learning Data Science,26,5

In [15]:
df=pd.DataFrame({
    "date": ["11-2-1995", "12-2-1996"]
})

In [16]:
df["date"]

0    11-2-1995
1    12-2-1996
Name: date, dtype: object

In [18]:
pd.to_datetime(df["date"]).month

AttributeError: 'Series' object has no attribute 'month'