## Importance of Corelation and Co-Variance in Feature Selection

$$ Cov(X,y) = \frac{\sum(x_i -\bar x)(y_i -\bar y)}{n-1} $$

## Advantages

- Quantify Relation between X and Y.

## Disadvantages

- Covariance does not value specific limit value.

# Pearson Correlation Co-efficient [-1 to 1 ]
## $$ \sigma_{x,y} = \frac{Cov(x,y)}{\sigma_{x}\sigma_{y
}} $$

- 1. The more the value towards the +1 the more +ve Correlation it  is(x,y).

- 2. The more the value towards -1 the more -ve correlated its.

### Spearman Rank Correlation
- Better than Pearson correlation

$$r_s = \frac{Cov(R(x),R(y))}{\sigma_{R(x)}\sigma_{R(y)}}$$

###  Covariance And Correlation With Python

In [2]:
import pandas as pd
df = pd.read_csv("healthexp.csv")

In [3]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [6]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [7]:
df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [9]:
## Spearman Rank
df.corr(method="spearman")

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [11]:
## Pearson Corrrelation
df.corr(method="pearson")

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000