In [62]:
import pymongo

In [63]:

client = pymongo.MongoClient("mongodb+srv://Abhi:<233753>@cluster0.dhckseb.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [64]:
client

MongoClient(host=['ac-4xqgqnm-shard-00-02.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-00.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-01.dhckseb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-kers9d-shard-0', tls=True)

### Mongodb command
- Its called document database e.g. Json
- Table : collection which consist of Document

In [65]:
client = pymongo.MongoClient("mongodb+srv://Abhi:233753@cluster0.dhckseb.mongodb.net/?retryWrites=true&w=majority")

In [66]:
client

MongoClient(host=['ac-4xqgqnm-shard-00-02.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-00.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-01.dhckseb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-kers9d-shard-0', tls=True)

In [67]:
db = client["pwskills"]

In [68]:
coll_create = db["my_record"]

In [58]:
data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}

In [79]:
client.options

In [74]:
coll_create.options

<bound method Collection.options of Collection(Database(MongoClient(host=['ac-4xqgqnm-shard-00-02.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-00.dhckseb.mongodb.net:27017', 'ac-4xqgqnm-shard-00-01.dhckseb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-kers9d-shard-0', tls=True), 'pwskills'), 'my_record')>

In [80]:
data1 ={
    "mail" : "abhijitrajkumar2@gmail.com",
    "phone": 7005157909
}

In [81]:
coll_create.insert_one(data1)

In [83]:
data2 ={
    "list_course":["Data Science","Java","Big Data"],
    "Mentor":["Abhi", "Rajkumar", "Chunu"]
}

In [84]:
coll_create.insert_one(data2)

In [85]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [86]:
coll_create.insert_many(data3)

In [91]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [93]:
coll_create.insert_one(data4)

In [94]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f0572c782acb9008af8044'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63f05ac2782acb9008af8047'), 'mail': 'abhijitrajkumar2@gmail.com', 'phone': 7005157909}
{'_id': ObjectId('63f05b88782acb9008af8048'), 'list_course': ['Data Science', 'Java', 'Big Data'], 'Mentor': ['Abhi', 'Rajkumar', 'Chunu']}
{'_id': ObjectId('63f05bbb782acb9008af8049'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f05bbb782acb9008af804a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f05bbb782acb9008af804b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f05bbb782acb9008af804c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f05bbb782acb9008af804d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f05bbb782acb9008af804e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f05bbb782acb9008af804f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f05bbb782acb9008af8050'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f05bbb782acb9008af8051'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f05bbb782acb9008af8052'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f05bbb782acb9008af8053'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f05bbb782acb9008af8054'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f05c3c782acb9008af8055'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [95]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [97]:
coll_create.insert_many(random_data)

In [98]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f0572c782acb9008af8044'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63f05ac2782acb9008af8047'), 'mail': 'abhijitrajkumar2@gmail.com', 'phone': 7005157909}
{'_id': ObjectId('63f05b88782acb9008af8048'), 'list_course': ['Data Science', 'Java', 'Big Data'], 'Mentor': ['Abhi', 'Rajkumar', 'Chunu']}
{'_id': ObjectId('63f05bbb782acb9008af8049'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f05bbb782acb9008af804a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f05bbb782acb9008af804b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f05bbb782acb9008af804c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f05bbb782acb9008af804d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f05bbb782acb9008af804e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f05bbb782acb9008af804f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f05bbb782acb9008af8050'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f05bbb782acb9008af8051'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f05bbb782acb9008af8052'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f05bbb782acb9008af8053'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f05bbb782acb9008af8054'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f05c3c782acb9008af8055'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [101]:
coll_create.find_one()

{'_id': ObjectId('63f0572c782acb9008af8044'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

# find base on condition

In [105]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [106]:
# Based on id >= 4
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [107]:
# company name ineuron topwskill
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [108]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f0572c782acb9008af8044'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63f05ac2782acb9008af8047'), 'mail': 'abhijitrajkumar2@gmail.com', 'phone': 7005157909}
{'_id': ObjectId('63f05b88782acb9008af8048'), 'list_course': ['Data Science', 'Java', 'Big Data'], 'Mentor': ['Abhi', 'Rajkumar', 'Chunu']}
{'_id': ObjectId('63f05bbb782acb9008af8049'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f05bbb782acb9008af804a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f05bbb782acb9008af804b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f05bbb782acb9008af804c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f05bbb782acb9008af804d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f05bbb782acb9008af804e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f05bbb782acb9008af804f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f05bbb782acb9008af8050'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f05bbb782acb9008af8051'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f05bbb782acb9008af8052'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f05bbb782acb9008af8053'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f05bbb782acb9008af8054'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f05c3c782acb9008af8055'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [ ]:
# drop the entire collection
coll_create.drop()

In [ ]:
for i in coll_create.find():
    print(i)