# Random Variable

Random Variable is aprocess of mapping the output of a random process or experiment to a number.
- e.g: Tossing of coin, Rolling a dice.

In short quantifying a random process. Based on outcome it will change.

# Sets

- A = {1,2,3,4,5,6}
- B = {3,4,5,6,7}

- $ A \bigcap B $ = {3,4,5,6}
- $ A \cup B $ = {1,2,3,4,5,6,7}
- A - B = {1}
- B - A = {7}

### Subset, superset

## Covariance and Correlation

### Covariance

$ Cov(x,y) = \frac{\sum_{i}^n(x_i - \bar{x})(y_i - \bar{y})}{n-1} $
Advantages
- Relation between x and y (+ or -)
Disadvantages
- Does not have specific limit value.

## Pearson Correlation coefficient (-1 to +1)
$$ \sigma_x,_y = \frac{Cov(x,y}{\sigma_x\sigma_y}$$
- The more value towards +1 the more +ve correlated it is and viz. versa.

In [18]:
from sklearn import datasets

In [19]:
iris = datasets.load_iris()

In [22]:
import numpy as np

In [26]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [28]:
import pandas as pd

In [32]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [34]:
df.cov()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),0.685694,-0.042434,1.274315,0.516271
sepal width (cm),-0.042434,0.189979,-0.329656,-0.121639
petal length (cm),1.274315,-0.329656,3.116278,1.295609
petal width (cm),0.516271,-0.121639,1.295609,0.581006

In [36]:
# Spearman Rank
df.corr(method="spearman")

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.166778,0.881898,0.834289
sepal width (cm),-0.166778,1.000000,-0.309635,-0.289032
petal length (cm),0.881898,-0.309635,1.000000,0.937667
petal width (cm),0.834289,-0.289032,0.937667,1.000000

In [37]:
# Pearson Rank
df.corr(method="pearson")

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.117570,0.871754,0.817941
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126
petal length (cm),0.871754,-0.428440,1.000000,0.962865
petal width (cm),0.817941,-0.366126,0.962865,1.000000

In [ ]:
#